h3{
	text-align: center;

}
.span1{
 color: gray;
 text-align: center;
 font-size: 12px;

 
}
img{
margin-left: 50px;
}
span{
	font-weight: bold;
	margin-left: 20px;
}
.box{
	
	margin: 60px;
}
.box1{
	width: 1500px;
	text-align: center;
}
.img1{
	margin: 0 auto;

}
hr{
	margin-left: 0;

}